# Copyright (c) 2017 Xiaomi Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Xiaomi Technologies, Inc.
#
service citsensorservice  /odm/bin/hw/vendor.xiaomi.sensor.citsensorservice.aidl
    class late_start
    user system
    group system input
    capabilities SYS_NICE
